<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
    <link rel="preload" href="{{ "/stylesheets/DejaVuSerifCondensed-Bold.woff2" | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ "/stylesheets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/stylesheets/syntax.css" | relative_url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
