---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div id="post" itemprop="articleBody">
        {{ content }}
    </div>

    {% if page.collection == "posts" %}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d %B %Y" }}</time>
    {% endif %}

</article>
