---
layout: default
---
<div span="title"><a href="/">home</a></div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div id="post" itemprop="articleBody">
        {{ content }}

    </div>
    
</article>

<time>{{ page.date | date: "%d %B %Y" }}</time>

{% if site.disqus.shortname %}
{% include disqus_comments.html %}
{% endif %}











